<div class="loginBox">
   
        <form>
            <p>SEARCH</p>
            <input id="login-username" type="text" placeholder="Not finding anything exciting? Search the database here">
            <div class="field is-grouped is-grouped-centered">
    <p class="control"> 
      <br>
      {{!-- id used in jqery listener --}}
      <a id="login-button" class="waves-effect waves-light btn grey darken-3">Search</a>
      </a>
    </p>
  </div>
        </form>
    </div>