<div class="loginBox">
    <form>
        <h3 style="font-weight: 900; color: white; text-align:center">Let's Make a Drink!</h3>
        <p>Drink Name</p><input class="validate" id="drink_name" placeholder="Long Island Iced Tea" type="text">
        <div class="field is-grouped is-grouped-centered">
            <p class="control"><br>
                <a class="waves-effect waves-light btn grey darken-3" data-imgurl="" id="upload_widget">Upload Image</a>
            </p>
        </div><br>
        <div>
            <img id="upload-img" class="materialboxed" width="650" src="">
        </div>
        <br>
        <p>Drink Instructions</p><input class="materialize-textarea" id="drink_instructions"
            placeholder="Instructions"><br>
        <div class="row" id="ing-row">
            <div class="col s12" id="ing1">
                {{> create/ingredient-block}}<br>
            </div>
            <div class="col s12 hide" id="ing2">
                {{> create/ingredient-block}}<br>
            </div>
            <div class="col s12 hide" id="ing3">
                {{> create/ingredient-block}}
            </div>
            <div class="col s12 hide" id="ing4">
                {{> create/ingredient-block}}
            </div>
            <div class="hide" id="ing5">
                {{> create/ingredient-block}}
            </div>
            <div class="hide" id="ing6">
                {{> create/ingredient-block}}
            </div>
            <div class="hide" id="ing7">
                {{> create/ingredient-block}}
            </div>
            <div class="hide" id="ing8">
                {{> create/ingredient-block}}
            </div>
            <div class="hide" id="ing9">
                {{> create/ingredient-block}}
            </div>
            <div class="hide" id="ing10">
                {{> create/ingredient-block}}
            </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <a class="btn-floating btn-small waves-effect waves-light green" id="more-ing-button"><i
                    class="material-icons mycolor">add</i></a>
        </div><br>
        <p style="text-align: center;">Ready to Submit Your Drink? Click the Submit Button Below:</p><br>
        <div class="field is-grouped is-grouped-centered">
            <a class="waves-effect waves-light btn btn grey darken-3" id="create-cocktail-button">Submit</a>
        </div>
    </form>
</div>