<div class="container">
    <div class="row">
        {{!-- Everything is inside a form currently, I think we can use this to do a post action to our relelvant route in mixr-controller --}}
        
        <h3 style="font-size: 2rem; font-weight:bolder"> Let's make a Drink!</h3>
        <form action="" class="col s12">
            {{!-- drink name row --}}
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="Drink name" id="drink_name" type="text" class="validate">
                    
                </div>
                <div class="col s12 m6 l6"></div>
            </div>
            {{!-- photo upload button row --}}
            <div class="row">
                <div class="col s-12">
                    <a id="upload_widget" class="waves-effect waves-light btn grey darken-3">Upload Image</a>
                </div>
            </div>
            {{!-- drink description and instructions row --}}
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Drink directions</label>
                </div>
            </div>
            {{!-- drink ingredient row, one is visible by default, use add button to make more --}}
            {{!-- move this row into in a partial view with one partial displayed by default --}}
            {{!-- onclick of add, append another partial view to it with assending id values --}}
            {{!-- we will need to match the ids the ingredients and amounts to match our models \ --}}
            <div class="row" id="ing-row">
                <div id="ing1">
                    {{> create/ingredient-block}}
                </div>
                <div id="ing2">
                    
                </div>
                <div id="ing3">
                    
                </div>
                <div id="ing4">
                    
                </div>
                <div id="ing5">
                    
                </div>
                <div id="ing1">
                    
                </div>
                
                
            </div>
            {{!-- Add more ingredients button --}}
            <div class="row">
                {{!-- Use partials here to add more ingredients https://handlebarsjs.com/guide/partials.html#basic-partials --}}
                <div class="col s12">
                    <a id="more-ing-button" class="btn-floating btn-small waves-effect waves-light btn grey darken-3"><i
                            class="material-icons">add</i></a>
                </div>
            </div>
            {{!-- Need to add a submit button to post the drink --}}
        </form>
    </div>
</div>

