<!-- LOGIN FORM 
 <div class="field">
    <p class="control has-icons-left has-icons-right">
      {{!-- id used in jqery listener --}}
      <input id="login-username"class="input input-field col s10 m2 l4" type="text" placeholder="Username">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      {{!-- id used in jqery listener --}}
      <input id="login-password" class="input input-field col s10" type="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>

    </p>
  </div>
</div>-->


  <div class="field is-grouped is-grouped-centered">
    <p class="control">
      {{!-- id used in jqery listener --}}
      <a id="login-button" class="waves-effect waves-light btn grey darken-3">LOGIN</a>
      </a>
    </p>
    <p class="control">
      <a href="/signup" class="waves-effect waves-light btn grey darken-3">CREATE AN ACCOUNT</a>
    </p>
  </div>