<!-- LOGIN FORM -->
<div class="field px-3">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
  </div>
  <div class="field px-3">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>

    </p>
  </div>

  <div class="field is-grouped is-grouped-centered">
    <p class="control">
      <a href="index.html" class="waves-effect waves-light btn grey darken-3">LOGIN</a>
      </a>
    </p>
    <p class="control">
      <a href="createAccount.html" class="waves-effect waves-light btn grey darken-3">CREATE AN ACCOUNT</a>
    </p>
  </div>