
<div class="loginBox">
    <div class="input-field col s12 m4">
        <p>Add Items to Pantry</p>
        <input id="autocomplete-input" type="text" placeholder="eg. Bourbon" class="autocomplete">
    </div>

    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <br>
            {{!-- id used in jqery listener --}} <a id="add-pantry-button"
                class="waves-effect waves-light btn grey darken-3"><i class="material-icons left">send</i>Add</a>

        </p>
    </div>
</div>
</div>
<br>
<div class="row">
    <div class="col s12">
        <h5>Current Pantry Items</h5>
        <ul class="collection">
            {{#each pantry}}
            <li class="collection-item">
                {{name}}
                {{!-- used to remove the pantry item from that table --}}
                <a id={{id}} class="delete-pantry-button"><i class="material-icons right mycolor">delete</i></a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
</div>