<!-- CREATING ACCOUNT FORM -->
    <div class="loginBox">
   <img class="greenM" src="assets/images/greenM.png">
        <form>
            <p>Username</p>
            <input id="signup-username" type="text" placeholder="Username">
            <p>Password</p>
            <input id="signup-password" type="password" placeholder="******">
            
            <div class="field is-grouped is-grouped-centered">
    
    <p class="control">
      <br>
      <a href="/signup" id="signup-button" class="waves-effect waves-light btn grey darken-3">CREATE AN ACCOUNT</a>
    </p>
  </div>
        </form>
    </div>