<div class="container">
    <div class="row">
        {{!-- Everything is inside a form currently, I think we can use this to do a post action to our relelvant route in mixr-controller --}}
        <form action="" class="col s12">
            {{!-- drink name row --}}
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="drink name" id="drink_name" type="text" class="validate">
                    <label for="drink_name">Drink name</label>
                </div>
                <div class="col s12 m6 l6"></div>
            </div>
            {{!-- photo upload button row --}}
            <div class="row">
                <div class="col s-12">
                    <a id="upload_widget" class="waves-effect waves-light btn">Upload Image</a>
                </div>
            </div>
            {{!-- drink description and instructions row --}}
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Drink directions</label>
                </div>
            </div>
            {{!-- drink ingredient row, one is visible by default, use add button to make more --}}
            {{!-- move this row into in a partial view with one partial displayed by default --}}
            {{!-- onclick of add, append another partial view to it with assending id values --}}
            {{!-- we will need to match the ids the ingredients and amounts to match our models \ --}}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">functions</i>
                    <input id="ing-amount" type="text" class="validate">
                    <label for="ing-amount">Measurement</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">local_bar</i>
                    <input id="ingredient" type="tel" class="validate">
                    <label for="ingredient">Ingredient</label>
                </div>
            </div>
            {{!-- Add more ingredients button --}}
            <div class="row">
                {{!-- Use partials here to add more ingredients https://handlebarsjs.com/guide/partials.html#basic-partials --}}
                <div class="col s12">
                    <a id="more-ing" class="btn-floating btn-small waves-effect waves-light red"><i
                            class="material-icons">add</i></a>
                </div>
            </div>
            {{!-- Need to add a submit button to post the drink --}}
        </form>
    </div>
</div>


{{!-- pulles in the js needed for the image upload via cloudinary --}}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script type="text/javascript">
    //unsigned image upload widget
    var myWidget = cloudinary.createUploadWidget({
        //specifies to send it to jkemps account
        cloudName: 'k3m9',
        //the upload preset is the unsigned version
        uploadPreset: 'ulnivdif'
    }, (error, result) => {
        if (!error && result && result.event === "success") {
            //returns the login info, we will want to bring that info into a variable and send it along
            //with our form data for the image url field
            console.log('Done! Here is the image info: ', result.info);
        }
    }
    )
    //the event listener for the upload widget button
    document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
    }, false);
</script>