<div class="input-field col s12 m4">
    <i class="material-icons prefix">opacity</i>
    <input class="amount" type="number" placeholder="e.g. .75">
    <label for="ing-amount">Amount</label>
</div>

<div class="input-field col s12 m4">
    <i class="material-icons prefix">functions</i>
    <input class="measurement" type="text" placeholder="e.g. oz">
    <label for="ing-measure">Measurment</label>
</div>

<div class="input-field col s12 m4">
    <i class="material-icons prefix">local_bar</i>
    <input class="ingredient autocomplete" type="text" placeholder="e.g. rum">
    <label for="ingredient">ingredient</label>
</div>